
.error-dialog{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    max-width: 30rem;
    word-wrap: break-word;
}

#spinner{
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .spinner-border{
        border-color: var(--bs-primary) !important;
        border-right-color: rgba(0,0,0,0) !important;
    }
}

.fa-w-16{
    width: 2rem;
}
.sr-only{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}

button:focus, a:focus, .accordion-button:focus{
    border-color: var(--custom-blu-back) !important;
    box-shadow: 0 0 0 2px var(--custom-blu-back) !important;
}


#collapseSidebar{
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 1031;
}